<div
  class="grid h-full select-none"
  [style.gridTemplateColumns]="gridCols()"
  [style.gridTemplateRows]="gridRows()"
>
  <pa-editor-header class="row-start-1 col-start-1 -col-end-1" />

  <pa-tool-palette
    class="row-start-2 col-start-1 overflow-auto border-r border-neutral-200 dark:border-neutral-800 bg-neutral-100/60 dark:bg-neutral-800/40"
  />

  <div
    class="row-start-2 col-start-2 cursor-col-resize bg-transparent hover:bg-neutral-300/30 dark:hover:bg-neutral-600/30"
    (pointerdown)="onGripDown('left', $event)"
  ></div>

  <pa-editor-canvas
    class="row-start-2 col-start-3 overflow-hidden bg-white dark:bg-neutral-900"
  />

  <div
    class="row-start-2 col-start-4 cursor-col-resize bg-transparent hover:bg-neutral-300/30 dark:hover:bg-neutral-600/30"
    (pointerdown)="onGripDown('right', $event)"
  ></div>

  <div
    class="row-start-2 col-start-5 overflow-hidden border-l border-neutral-200 dark:border-neutral-800 bg-neutral-100/60 dark:bg-neutral-800/40 flex flex-col"
    id="right-panel-container"
  >
    <div
      class="shrink-0 flex border-b border-neutral-200 dark:border-neutral-800"
      id="right-panel-tabs"
    >
      <button
        type="button"
        (click)="rightPanelTab.set('layers')"
        class="flex-1 px-4 py-2 text-sm font-medium"
        [class.bg-white]="rightPanelTab() === 'layers'"
        [class.dark\:bg-neutral-900]="rightPanelTab() === 'layers'"
        [class.text-blue-600]="rightPanelTab() === 'layers'"
        [class.dark\:text-blue-400]="rightPanelTab() === 'layers'"
        [class.text-neutral-600]="rightPanelTab() !== 'layers'"
        [class.dark\:text-neutral-400]="rightPanelTab() !== 'layers'"
        id="layers-tab-button"
      >
        {{ "layers.title" | transloco }}
      </button>
      <button
        type="button"
        (click)="rightPanelTab.set('bones')"
        class="flex-1 px-4 py-2 text-sm font-medium"
        [class.bg-white]="rightPanelTab() === 'bones'"
        [class.dark\:bg-neutral-900]="rightPanelTab() === 'bones'"
        [class.text-blue-600]="rightPanelTab() === 'bones'"
        [class.dark\:text-blue-400]="rightPanelTab() === 'bones'"
        [class.text-neutral-600]="rightPanelTab() !== 'bones'"
        [class.dark\:text-neutral-400]="rightPanelTab() !== 'bones'"
        id="bones-tab-button"
      >
        {{ "bones.title" | transloco }}
      </button>
    </div>
    <div class="flex-1 overflow-auto">
      @if (rightPanelTab() === 'layers') {
        <pa-layers-panel />
      } @else {
        <pa-bones-panel />
      }
    </div>
  </div>

  <div
    class="row-start-3 col-start-1 -col-end-1 cursor-row-resize bg-transparent hover:bg-neutral-300/30 dark:hover:bg-neutral-600/30"
    (pointerdown)="onGripDown('bottom', $event)"
  ></div>

  <div
    id="bottom-panel-container"
    class="row-start-4 col-start-1 -col-end-1 border-t border-neutral-200 dark:border-neutral-800 bg-neutral-50 dark:bg-neutral-900 flex flex-col"
  >
    <div
      class="shrink-0 flex border-b border-neutral-200 dark:border-neutral-800 bg-white dark:bg-neutral-800"
      id="bottom-panel-tabs"
    >
      <button
        type="button"
        (click)="bottomPanelTab.set('timeline')"
        class="px-4 py-2 text-sm font-medium"
        [class.bg-neutral-50]="bottomPanelTab() === 'timeline'"
        [class.dark\:bg-neutral-900]="bottomPanelTab() === 'timeline'"
        [class.text-blue-600]="bottomPanelTab() === 'timeline'"
        [class.dark\:text-blue-400]="bottomPanelTab() === 'timeline'"
        [class.text-neutral-600]="bottomPanelTab() !== 'timeline'"
        [class.dark\:text-neutral-400]="bottomPanelTab() !== 'timeline'"
        id="timeline-tab-button"
      >
        {{ "timeline.title" | transloco }}
      </button>
      <button
        type="button"
        (click)="bottomPanelTab.set('animationCreator')"
        class="px-4 py-2 text-sm font-medium"
        [class.bg-neutral-50]="bottomPanelTab() === 'animationCreator'"
        [class.dark\:bg-neutral-900]="bottomPanelTab() === 'animationCreator'"
        [class.text-blue-600]="bottomPanelTab() === 'animationCreator'"
        [class.dark\:text-blue-400]="bottomPanelTab() === 'animationCreator'"
        [class.text-neutral-600]="bottomPanelTab() !== 'animationCreator'"
        [class.dark\:text-neutral-400]="bottomPanelTab() !== 'animationCreator'"
        id="animation-creator-tab-button"
      >
        {{ "animationCreator.title" | transloco }}
      </button>
    </div>
    <div class="flex-1 overflow-hidden">
      @if (bottomPanelTab() === 'timeline') {
        <pa-timeline-panel class="h-full" />
      } @else {
        <pa-animation-creator-panel class="h-full" />
      }
    </div>
  </div>
</div>
